.tabcontent {
  color: rgb(0, 0, 0);
  display: none;
  padding: 100px 20px;
  min-height: 100%;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.intro img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
}

.container-about {
  width: 80%;
  margin: auto;
  padding: 0 20px;
}

.container-about img {
  width: 100%;
  max-width: 400px;
  float: left;
  margin-right: 20px;
}

.container1 {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 500px;
  height: 150px;
  position: relative;
}

.box1 {
  width: 500px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 50px;
}

.box1 p {
  font-size: 18px;
}

@media screen and (max-width: 750px) {
  .container1 {
  width:100%
  }
}

.container2 {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 500px;
  height: 150px;
  position: relative;
}

@media screen and (max-width: 750px) {
  .container2 {
  width:100%
  }
}

.box2 {
  width: 500px;
  height: 150px;
  background-color: rgb(205, 203, 186);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 50px;
}

.box2 p {
  font-size: 18px;
}

.container3 {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 500px;
  position: relative;
}

@media screen and (max-width: 750px) {
  .container3 {
    width:100%
  }
}

.box3 {
  max-width: 500px;
  background-color: rgba(202, 190, 170, 0);
  font-size: 50px;
}

.box3 p {
  font-size: 18px;
}

.container4 {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 500px;
  height: 150px;
  position: relative;
}

@media screen and (max-width: 750px) {
  .container4 {
    width:100%
  }
}

.box4 {
  width: 500px;
  height: 150px;
  background-color: rgba(212, 205, 179, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 50px;
}

.box4 p {
  font-size: 18px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: left;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 25px 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}